/* Format petit écran */

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    text-align: center;
    width: 100vw;
    height: auto;
}

h2 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.titre2 p {
    text-transform: uppercase;
    font-size: 20px;
    color: grey;
}


/* header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg.png);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

menu {
    padding-left: 15px;
    position: absolute;
    position: fixed;
    left: -500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: color(rgb(34, 34, 34));
    width: 150px;
    height: 225px;
    text-decoration: none;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 9;
}

.menuVisi {
    left: 0;
}

a {
    text-decoration: none;
    padding-top: 15px;
    color: white;
}

.sousLigne {
    text-decoration: underline;
}

#burger {
    visibility: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 9;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: white;
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    height: 100vh;
}

h3 {
    font-size: 60px;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

#typed {
    padding: 10px 0px 10px 0px;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

#icones {
    display: flex;
}

i {
    font-size: 40px;
    color: rgb(88, 89, 90);
    border-radius: 50px;
}


/* AboutMe */

.titre2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

#contend {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 25px;
    padding: 5px;
}

#textContend {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
}

#progressbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.FonBar {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    BACKGROUND: #F7F7F7;
    BOX-SHADOW: 0PX 2PX 7PX RGBA(0, 0, 0, 0.15);
    MARGIN-BOTTOM: 30PX;
}

.lvlBar {
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: white;
    width: 80%;
    height: 29px;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: rgb(63, 60, 63);
}

.bouton {
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 35px;
}

#buttonblack {
    color: white;
    background-color: black;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 10px;
}


/* Certification */

#certification {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #cfcecf;
}

.cert {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 500px;
}

.owl-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.owl-dot {
    display: flex;
    justify-content: center;
    width: 45px;
}


/* Portfolio */

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portimg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a:hover .carreBlanc {
    visibility: inherit;
}

.imgposi {
    display: flex;
    flex-direction: column;
}

#imgflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carreBlanc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    background-color: white;
    border-radius: 20px;
    height: 95%;
    width: 95%;
}


/* Contact */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #cfcecf;
}

#formu {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    font-size: 18px;
    border-radius: 10px;
    height: 40px;
}

textarea {
    font-size: 18px;
    border-radius: 10px;
}

#formu button {
    color: white;
    background-color: black;
}

@media (min-width: 750px) {
    section {
        text-align: center;
        width: 100vw;
        height: 100vh;
    }
    /* HEADER */
    menu {
        position: fixed;
        padding-inline-start: 0;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
        height: 35px;
        text-decoration: none;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        z-index: 9;
    }
    #burger {
        visibility: hidden;
    }
    a {
        padding-right: 25px;
    }
    /* ABOUT ME */
    #aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #contend {
        display: flex;
        flex-direction: row;
        width: 1000px;
    }
    #textContend {
        display: flex;
        align-items: flex-start;
    }
    #textContend>p {
        text-align: start;
    }
    /* CERTIFICATION */
    /* PORTFOLIO */
    #portfolio {
        height: auto;
        width: 100vw;
        padding-bottom: 50px;
    }
    #portimg {
        display: flex;
    }
    .imgposi {
        display: flex;
        flex-direction: row;
    }
    .a {
        margin: 5px;
    }
    /* CONTACT */
    #formu {
        height: 400px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}